@import './base.css';

#app {
  min-width: 1600px;
  max-width: 2560px;
  margin: 2rem;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.coverage-chart {
  width: 100%;
}

.date-range {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

button {
  background: #2F2F2FFF;
  color: white;
  border: none;
  padding: 10px;
  transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
}

.first-button {
  background: #2f2f2f;
  border-radius: 10px 0 0 10px;
}

.last-button {
  background: #2F2F2FFF;
  border-radius: 0 10px 10px 0;
}

.active {
  background: linear-gradient(to bottom left, #3ED85E, #2CC84D, #3ED85E);
  color: black;
}
.active-first {
  background: linear-gradient(to bottom left, #3ED85E, #2CC84D, #3ED85E);
  color: black;
}
.active-last {
  background: linear-gradient(to bottom left, #3ED85E, #2CC84D, #3ED85E);
  color: black;
}

.selected-range {
  font-size: 24px;
  font-weight: bold;
}

.chart {
  background: #27293c;
  border-radius: 10px;
}

.card-columns {
  margin-top: 10px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.card {
  flex-grow: 1;
  padding: 20px;
  background-color: #27293c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-value {
  font-size: 24px;
}
.dropdown {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  padding: 8px 12px;
  border: 2px solid #2F2F2F;
  border-radius: 10px;
  background-color: #2F2F2F;
  color: white;
  appearance: none; /* Remove the default appearance */
  -webkit-appearance: none; /* Safari and Chrome */
  -moz-appearance: none; /* Firefox */
  cursor: pointer;
}

.dropdown:hover {
  border-color: #3ED85E;
  background-color: #3ED85E;
  color: black;
}

.dropdown:focus {
  outline: none;
  border-color: #3ED85E;
  background-color: #3ED85E;
  color: black;
}

/* Add a custom arrow for the dropdown */
.dropdown::-ms-expand {
  display: none;
}

.dropdown::after {
  content: "▼";
  position: absolute;
  right: 12px;
  top: calc(50% - 4px);
  pointer-events: none;
  color: white;
}